---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, SOCIALS, ABOUT } from "@consts";
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <div class="mx-auto lg:max-w-screen-sm sm:max-w-full lg:px-16 sm:px-0 space-y-12">
      <h4 class="animate text-md font-medium text-black/50">About</h4>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <p class="animate text-2xl">
              Hi, I am Fanindra, an Interaction Designer who's all about crafting those seamless digital experiences. Currently, I'm pursuing my M. Des in Interaction Design at JKLU, Jaipur. 
            </p>
            <p class="animate">
              It's funny how life takes unexpected turns – I began with a B. Tech in Computer Science, but design captivated me along the way, leading me to switch gears after my UG. I thrive on exploring new challenges and pushing my limits. My experience as as a UX Design Intern at Pulpit Mobility was a pivotal moment that honed my skills and deepened my love for design.
            </p>
            <p class="animate">
              Beyond design, you'll find me watching cricket or consuming content related to architecture, interior design, minimalism, tech, etc. Whether it's chatting about new movies and shows to tech trends, or discussing maps and geopolitics, I'm all ears. Let's kickstart some engaging conversations!
            </p>          
          </article>
        </section>

        <section>
          <article class="space-y-4">
            <div class="animate">
              <h5>Education</h5>
              <p class="text-black/70">
                <span class="text-black">M. Des in Interaction Design</span> 
                <br /> JK Lakshmipat University <br />Jaipur, RJ<br />2024 - ongoing
              </p>
              <p class="text-black/70">
                <span class="text-black">B. Tech in CSE with spec. in AI & ML</span> 
                <br /> Vellore Institute of Technology <br />Bhopal<br />2020 - 2024
              </p>
            </div>
          </article>
        </section>

        <section>
          <article class="space-y-4">
            <div class="animate">
              <h5>Work Experience</h5>
              <p class="text-black/70">
                <span class="text-black">UI/UX Design Intern</span> 
                <br /> Pulpit Mobility <br /> Remote <br /> Feb 2023 - May 2023
              </p>
            </div>
          </article>
        </section>

        <section>
          <article class="space-y-4">
            <div class="animate">
              <h5>Skills</h5>
              <p>
                User Experience (UX) & User Interface (UI) Design 
                <br>UX Research
                <br>Usability Testing
                <br>Wireframing and Prototyping
                <br>No-code web-development (Framer, Webflow)
                <br>HTML, CSS, Astro, NextJS
              </p>
            </div>
          </article>
        </section>

        <section class="animate space-y-4">
          <h5 class="text-black">Get in touch</h5>
          <article>
            <p>
              Send an email → <Link href={`mailto:imfanindra@gmail.com`} aria-label={`Email`}>imfanindra@gmail.com.</Link>
            </p>
          </article>
          <ul class="flex flex-wrap gap-4">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {""}
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </div>
  </Container>
</PageLayout>