---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";

const projects = (await getCollection("projects")).slice(
  0,
  SITE.NUM_PROJECTS_ON_HOMEPAGE,
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <section class="py-5 sm:py-16 mx-auto max-w-screen-md mb-24">
      <div class="flex flex-col">
        <h1
          class="animate text-2xl tracking-loose leading-9 text-black"
        >
          <small class="text-sm font-mono tracking-tighter text-black/50"
            >IPA — / fʌ - nɪn - dhɹʌ /</small
          >
          <br />
          Hey! I'm Fanindra, an Interaction Designer specialized in crafting digital
          experiences with empathy, innovation, and purpose.
        </h1>
      </div>
    </section>
    <section class="animate space-y-8 md:space-y-16 mb-24">
      <div class="flex flex-wrap gap-y-24 mx-auto max-w-screen-md">
        <h5 class="text-black/50">Featured Work</h5>
      </div>
      <ul class="flex flex-col gap-16 sm:gap-32">
        {projects.map((project) => <ArrowCard entry={project} />)}
      </ul>
    </section>

    <section class="animate space-y-4 mx-auto max-w-screen-md mb-16">
      <h5 class="text-black/50">Get in touch</h5>
      <article>
        <p>
          Email me here → <Link
            href={`mailto:imfanindra@gmail.com`}
            aria-label={`Email`}>imfanindra@gmail.com.</Link
          >
        </p>
      </article>
      <ul class="flex flex-wrap gap-4">
        {
          SOCIALS.map((SOCIAL) => (
            <li class="flex gap-x-2 text-nowrap">
              <Link
                href={SOCIAL.HREF}
                external
                aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
              >
                {SOCIAL.NAME}
              </Link>
              {""}
            </li>
          ))
        }
      </ul>
    </section>
    <section class="animate space-y-4 mx-auto max-w-screen-md">
      <article>
        <h5 class="text-black/50">Colophon</h5>
        <p>
          This website is made with Astro, Tailwind, and MDX and deployed on Vercel. Check out the <a href="https://github.com/imfanindra/site" target="_blank">GitHub Repo</a>. Hit me up if you have any feedback or suggestions for improvement.
        </p>
      </article>
    </section>
  </Container>
</PageLayout>
